<%- include ('partials/header.ejs') %>

<div class="app-container">
    <%- include ('../partials/fragments/header.ejs', { title: 'About', cite: 'So, you wanna know more...' }) %>
    <%- include ('partials/alerts.ejs') %>
</div>
    
<%- include ('partials/footer.ejs') %>