<%- include ('partials/header.ejs') %>

<div class="app-container">
    <%- include ('../partials/fragments/header.ejs', { title: 'Get in Touch', cite: 'You wanna talk?' }) %>
    <%- include ('partials/alerts.ejs') %>
</div>
    
<%- include ('partials/footer.ejs') %>