<%- include ('partials/header.ejs') %>
<%- include ('partials/alerts.ejs') %>

<div class="w-100 text-center py-5">
    <img src="/images/notfound.svg" alt="404 Not Found" class="py-5 w-50">
    <p></p>
    <a href="/" class="btn btn-lg btn-warning">Back to Home</a>
</div>
    
<%- include ('partials/footer.ejs') %>