<div class="mb-4">
    <small class="bg-text-muted"><%= numeral(postsCount).format('0a') %> Thoughts</small>
    <small class="mx-1">&#xb7;</small>
    <small class="bg-text-muted"><%= numeral(followers).format('0a') %> Followers</small>
    <small class="mx-1">&#xb7;</small>
    <small class="bg-text-muted"><%= numeral(following).format('0a') %> Following</small>
</div>