<div class="mb-4">
    <small class="text-muted"><%= numeral(postsCount).format('0a') %> Thoughts</small>
    <small>&#xb7;</small>
    <small class="text-muted"><%= numeral(followers).format('0a') %> Followers</small>
</div>