<footer class="fs-small">
    <div class="row-flex footer-bottom">
        <span>WriteNForget &copy;<span>
            <%= //locals.year %>
        </span> All rights reserved</span>
    <span><a href="/about">About</a></span>
    <span><a href="/terms">Terms & Policy</a></span>
</div>
</footer>