<div class="py-5 border-bottom">
    <div class="row">
        <div class="col">
            <h1><%= title %></h1>
            <span class="text-muted"><%= description %></span>
        </div>
        <div class="col">
            <div class="text-end">
                <button type="submit" class="btn btn-lg btn-warning">Forget</button>
            </div>
        </div>
    </div>
</div>
