<div class="py-5 border-bottom">
    <h1 class="fw-bold">
        <%= title %>
    </h1>
    <blockquote>
        <%= cite %>
    </blockquote>

    <% if (show) { %>
        <% if ((postsCount || postsCount == 0) && (following || following == 0) && (followers || followers == 0)) { %>
            <%- include ('../fragments/counters.ejs', { followers, following, postsCount }) %>
        <% } %>
    <% } %>
</div>