<div class="row mt-2">
    <div class="col-lg-6 mt-1 mb-2 fs-x-small">
        <a href="/thoughts?search=<%= post.categoryName %>" class="px-3 fs-small badge py-2 me-1 mb-1 fw-x-normal rounded-pill bg-light-2">
            <%= post.categoryName %>
        </a>
        <small class="px-1">&#xb7;</small>
        <span>
            <%= post.readingTime %> min read
        </span>
    </div>
    <div class="col-lg-6 text-end post-reactions-align">
        <%- include('../fragments/reactions.ejs', { post: post })  %>
    </div>
</div>
