<small class="d-block my-3">
    <a href="/thoughts?search=<%= post.categoryName %>" class="fw-x-normal text-black">
        <%= post.categoryName %>
    </a>
    <small class="text-light">&#xb7;</small>
    <% if (post.hashtags.length > 0) { %>
        <% post.hashtags.forEach(tag => { %>
            <a href="/thoughts?search=<%= tag %>" class="fw-x-normal">
                #<%= tag %>
            </a>
    <% })} %>
</small>