<% if (categories && categories.length > 0) { %>
    <div>
        <h6 class="mb-3 fw-bold">
            <%= title %>
        </h6>
        <% categories.forEach(category => { %>
            <a href="/thoughts?search=<%= category %>" class="badge px-3 py-2 me-1 mb-1 fw-x-normal rounded-pill bg-light-2">
                <%= category %>
            </a>
        <% }) %>
    </div>
<% } %>