*,
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

html {
  height: 100%;
}

.image-scaled {
  object-fit: scale-down;
  object-position: center;
}

.no-image img {
  display: none !important;
}

.post-content a,
.post-content p,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  word-wrap: break-word;
}

.post-content img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  object-position: center;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: default !important;
}

.fixed-column {
  width: 21%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.centered {
  margin: 0 auto;
}

.fw-x-bolder {
  font-weight: 1000;
}

.fw-x-normal {
  font-weight: 500;
}

.fs-small {
  font-size: 9pt;
}

.fs-x-small {
  font-size: 10pt;
}

.fs-xx-small {
  font-size: 12pt;
}

.bg-light-2 {
  color: #000;
  background-color: #F2F2F2;
}

.text-truncate-x {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 75%;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  padding: 10px;
}

.ninja-form {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */

#comment-button,
#name-placeholder {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
}

#comment-placeholder {
  height: 30px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ninja-form:focus-within #comment-button,
.ninja-form:focus-within #name-placeholder {
  display: block;
  opacity: 1;
}

.ninja-form:focus-within #comment-placeholder {
  height: 100px;
}

.ninja-form textarea:focus,
.ninja-form textarea {
  border: none;
  outline: none;
  box-shadow: none;
}

.ninja-form label {
  font-size: 10pt;
  font-weight: 500;
}

.scrollable-element {
  scroll-behavior: smooth;
}

.scrollable-element::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.scrollable-element::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.scrollable-element::-webkit-scrollbar-track {
  background: #fff;
}

.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #fff #fff;
}

.last-no-border div:last-child {
  border-bottom: none !important;
}

a {
  text-decoration: none;
  color: #daa402;
  transition: .2ms ease-in-out all;
}

a:hover {
  color: #ffc107;
}

a.badge:hover {
  color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.row-flex {
  width: 92%;
  max-width: 1040px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

.editor-company {
  padding: 10px 10px;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: xx-large;
}

.editor-company-footer {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 1rem;
  color: #747474;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, .2);
  outline: 0;
}

.editor-company-footer::placeholder {
  color: rgba(123, 123, 123, .5);
}

.editor-company::placeholder {
  font-size: xx-large;
  color: #495057;
}

.autoComplete_wrapper {
  width: 100%;
}

.autoComplete_wrapper>ul>li mark {
  color: #ffc107 !important;
}

.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable),
.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
  min-height: 50vh;
}

.ck.ck-content {
  padding: 10px !important;
  min-height: 100%;
}

.footer-bottom {
  margin: 0;
  padding: 3.2rem 1.6rem .8rem 1.6rem;
  width: 100%;
}

.footer-bottom span {
  display: inline-block;
  font-size: 11pt;
}

.footer-bottom span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(0, 0, 0, 0.3);
}

.footer-bottom span:last-child::after {
  display: none;
}

.low-form-control {
  background-color: #f2f0f0;
  border: 2px solid #f2f0f0;
  border-radius: 10px;
  color: #495057;
  outline: 0;
  box-shadow: none;
  display: block;
  width: 100%;
  padding: .400rem .75rem;
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
}

.low-form-control:focus {
  color: #495057;
  background-color: #fff;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 500;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#loader>div {
  content: "";
  background: #000000;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader>div:nth-of-type(1) {
  left: 15px;
}

#loader>div:nth-of-type(3) {
  left: -15px;
}

.dots-jump>div {
  -webkit-animation: dots-jump 1.2s infinite ease;
  animation: dots-jump 1.2s infinite ease;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.dots-jump>div:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.dots-jump>div:nth-of-type(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }
}

@keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }
}

.dots-fade>div {
  -webkit-animation: dots-fade 1.6s infinite ease;
  animation: dots-fade 1.6s infinite ease;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.dots-fade>div:nth-of-type(1) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.dots-fade>div:nth-of-type(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }
}

@keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }
}

.dots-pulse>div {
  -webkit-animation: dots-pulse 1.2s infinite ease;
  animation: dots-pulse 1.2s infinite ease;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.dots-pulse>div:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.dots-pulse>div:nth-of-type(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}