</div>
</main>

<footer>
    <div class="row-flex footer-bottom">
        <span>WriteNForget &copy;<span id="#year"></span> All rights reserved</span>
        <span>Write your thoughts here and forget them</span>
        <span><a href="/about">About</a></span>
        <span><a href="/terms">Terms & Policy</a></span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>

</body>

</html>