<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include ('metas.ejs') %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/node-snackbar@latest/dist/snackbar.min.css" />

        <link rel="stylesheet" href="/css/style.css">

        <script src="/js/modernizr.js"></script>
        <script src="/js/theme.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
            integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <%- include ('icons.ejs') %>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RP6D3906Z1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RP6D3906Z1');
</script>

<div id="preloader" class="bg-text-dark">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<header>
    <nav class="navbar navbar-expand-lg bg-text-white border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="WriteNForget Logo" width="35" height="35">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-flex" role="search" method="get" action="/thoughts">
                <input autocomplete="on" class="form-control me-2" name="search" type="search" placeholder="Search"
                    aria-label="Search">
            </form>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <% if (locals.user) { %>
                    <a class="btn btn-light me-2" href="/write">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Write
                    </a>
                <% } %>

                <div class="btn-group">
                    <button type="button" title="User Dropdown" class="btn btn-warning dropdown-toggle" data-bs-auto-close="outside"
                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <% if (locals.user) { %>
                            <%= locals.user.nickname %>
                        <% } else { %>
                            Get Started
                        <% } %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <% if (locals.user) { %>
                            <li><a class="dropdown-item" href="/mind">My Mind</a></li>
                        <% } else { %>
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/register">Register</a></li>
                        <% } %>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/about">About</a></li>
                        <li><a class="dropdown-item" href="/terms">Terms</a></li>
                        <li><a class="dropdown-item" href="/contact">Contact</a></li>
                        
                        <% if (locals.user) { %>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<body>
    <main role="article" class="container">
        <div class="app-container">