<footer class="p-3 text-muted">
    <span>WriteNForget &copy;<span><%= locals.year %></span></span>
    <span class="d-block">By continuing you agree with our <a href="terms">terms</a>.</span>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>