<%- include ('../partials/sign-header.ejs') %>
    <div class="w-25 centered">
        <form action="/register" method="POST" class="login-form">
            <div class="text-center my-4">
                <a href="/">
                    <img class="image-scaled" src="images/logo.png" width="100">
                </a>
            </div>
            <%- include ('../partials/alerts.ejs') %>
            <div class="mb-3">
                <div class="form-floating">
                    <input autocomplete="nickname" type="text" class="form-control" id="nickname" name="nickname" required
                        placeholder="CrazySpidey">
                    <label for="nickname">Nickname</label>
                </div>
                <small class="text-danger my-1 d-block fs-small">DO NOT USE your real name!</small>
            </div>

            <div class="form-floating mb-3">
                <input autocomplete="email" type="email" class="form-control" id="email" name="email" required
                    placeholder="name@example.com">
                <label for="email">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input autocomplete="new-password" type="password" class="form-control" id="password" name="password" required
                    placeholder="Password">
                <label for="password">Password</label>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <div class="mb-3">
                <a href="/login" class="d-block">I have an account.</a>
            </div>

            <button type="submit" class="btn btn-warning">Register</button>
        </form>

        <%- include ('../partials/sign-footer.ejs') %>
    </div>